.green-bg {
    background-color: green;
}

.big-font {
    font-size: 30px;
}

#my-button {
    padding: 30px;
    margin: 20px;
    background-color: red;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}